:root {
  --lightblue: #195fd7;
  --activetextcolor: #3b82f6;

  /* background colors light */
  --primarybgcolor: #ffffff;
  --secondarybgcolor: #f4f4f6;
  --tertiarygbcolor: #5c72f9;

  /* background colors dark */
  --primarybgcolordark: #13141a;
  --secondarybgcolordark: #21222c;
  --tertiarygbcolordark: #5c72f9;

  /* Text colors light */
  --primarytextcolor: #21222c;
  --secondarytextcolor: #515152;
  --tertiarytextcolor: #374151;

  --h1textcolor: #2563eb;

  /* Text colors dark */
  --primarytextcolordark: #f4f4f6;
  --secondarytextcolordark: #ababae;
  --tertiarytextcolordark: #ffffff;

  /* Download Card Dark*/
  --downloadcardbgdark: #22222c;
  --downloadcardtextprimarydark: var(--primarytextcolor);
  --downloadcardtextsecondarydark: var(--secondarytextcolordark);
  --backbtnbackgroundcolordark: var(--primarybgcolor);

  /* Download Card Light */
  --downloadcardbg: #ebebf0;
  --downloadcardtextprimary: var(--primarytextcolordark);
  --downloadcardtextsecondary: var(--secondarytextcolor);
  --backbtnbackgroundcolor: var(--primarybgcolordark);

  /* Font sizes */
  --small: 16px;
  --medium: 18px;
  --large: 20px;
  --xlarge: 24px;
  --xxlarge: 32px;
  --xxxlarge: 40px; /* might not use this though */

  /* Font weights */
  --weight: 400;
  --semibold: 500;
  --bold: 600;
  --weight-bold: 700;

  /* Button font */
  --button-font: Arial, sans-serif;

  /* light */
  --headingscolor: var(--primarytextcolor);

  /* dark */
  --headingscolordark: var(--primarytextcolordark);
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: var(--primarybgcolor);
}

.body-container {
  display: flex;
  flex-direction: column;
  padding: 30px 200px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  color: var(--headingscolor);
}

.gradient-text {
  background: linear-gradient(
    to right,
    var(--h1textcolor),
    var(--tertiarygbcolordark)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
  color: var(--primarytextcolor);
}

.iconwrapper {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconwrapper:hover {
  cursor: pointer;
  background-color: var(--secondarybgcolor);
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

input {
  color: var(--headingscolor);
}

.notfound {
  color: var(--h1textcolor);
  font-size: var(--xxxlarge);
  font-weight: var(--weight-bold);
}

body.darkmode {
  --primarytextcolor: var(--primarytextcolordark);
  --secondarytextcolor: var(--secondarytextcolordark);
  --tertiarytextcolor: var(--tertiarytextcolordark);
  --h1textcolor: var(--tertiarygbcolordark);

  --downloadcardbg: var(--downloadcardbgdark);
  --downloadcardtextprimary: var(--downloadcardtextprimarydark);
  --downloadcardtextsecondary: var(--downloadcardtextsecondarydark);

  --primarybgcolor: var(--primarybgcolordark);
  --secondarybgcolor: var(--secondarybgcolordark);

  --backbtnbackgroundcolor: var(--backbtnbackgroundcolordark);

  --headingscolor: var(--headingscolordark);
}

@media (max-width: 768px) {
  .body-container {
    padding: 20px 50px;
  }

  .videotitle {
    font-size: var(--large);
  }
}
